.prj-details{
 display: flex;
 flex-direction: column;
  width: 100vi;
  background-color: var(--bg-alt2);
   overflow: hidden;
   box-shadow: var(--dark-shadow);
   /* height: fit-content; */
}
.header{
    position: fixed;
    top:5rem;
    display: flex;
    width: 100%;
    align-items: center;
    gap:2rem;
    z-index: 30;
    background-color: var(--bg-alt);
    box-shadow: var(--dark-shadow);
    opacity: 0.9;
}
.back-btn{
  background: transparent;
}
.back-icon{
    font-size: 3.5rem;
    color: var(--text-muted);
    transition: var(--btnTransition);
 
}
.back-icon:hover{
   transform: scale(1.02);
    color: var(--keyword);
}
.back-arrow{
  color: var(--text);
  font-size: 0.8rem;
}
.single-prj-container{
    margin: 10rem auto 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem
}
.project-title{
   text-align: center;
   margin: 0;
   font-size: 1.5rem;
   color: var(--comment);
}
.tag-details{
  color: var(--text-muted);
}
.prj-view-cont{
   position: relative;
}
.prj-view{
    width:100%;
    height: 100vh;
    border: none;
    scrollbar-width: none; 
    border-radius: 40px;
    transform: scale(0.9);
    
}
  .prj-view.Calendar_Hub{ 
       
        height: 38rem; 
}
.prj-fallback{
   display: flex;
  justify-content: center;
}
.prj-fallback-image{
 
  width: 90vi;
  border-radius: 15px;
  
}
/* .prj-view::-webkit-scrollbar {
  display: none;
} */
/* 
.prj-view::-webkit-scrollbar-thumb {
  background: var(--keyword);
  border-radius: 10px;
}

.prj-view::-webkit-scrollbar-track {
  background: transparent;
} */
.fullbtn {
    display: none;
}
.fullbtn.game {
  position: absolute;
  display: block;
   bottom: 12%;
  right: 50%;
  transform:translateX(50%) ;
  background: var(--gb-dpad);
  font-weight: bold;
  text-align: center;
  color: blanchedalmond;
  width: 6.5rem;
  height: 2rem;
  font-size: .8rem;
  cursor: pointer;
  border-radius: 10px;
  opacity: .8;
  transition: opacity .2s;
  border: 2px solid black;
  font-size: 1rem;
  box-shadow: var(--dark-shadow);
}
.fullbtn:hover {
  opacity: 1;
}

.desc-container {
 
  padding: 0 1rem;
 
}
.desc-title{
  color: var(--accent);
  margin-left: .5rem;
  font-size: clamp(.9rem, 2.2vw, 1rem);
}
.long-desc {
  font-size: clamp(.9rem, 2.2vw, 1rem);
  line-height: 1.6;
  color: var(--text-muted);
   
}

.features {
  margin-top: 1rem;
  list-style: "//";
  color: var(--comment);
  padding-left: 1rem;
  border-bottom: 2px dashed var(--comment);
  border-top: 2px dashed var(--comment);
  padding: 1.5rem;
}
.features li:first-child{
  color: var(--string);
  list-style: none;
  font-size: clamp(.85rem, 2vw, .95rem);
  margin-bottom: 0.5rem;
}
.single-feature {
  margin-bottom: .4rem;
  font-size: clamp(.85rem, 2vw, .95rem);
}
.sido-info {
  margin-top: 1.5rem;
  font-size: .85rem;
}
.repo-url {
  color: var(--string);
  text-decoration: underline;
}
.version{
  color: var(--accent);
}
.repo-url:hover {
  color: var(--keyword);
}

/* ─────────── DETAILS / ACCORDION ─────────── */
details {
  background-color: var(--bg-alt);
  border: 3px solid var(--text-muted);
  border-radius: 10px;
  padding: .6rem ;
  width: 8rem;
   margin-left: 1rem;
  cursor: pointer;
  color: var(--text-muted);
}

details[open] {
  border-color: var(--keyword);
  width: 80vi;
}
summary {
  font-weight: bold;
  color: var(--keyword);
  outline: none;
}




.controls {
  margin-top: .7rem;
  list-style: "› ";
  padding-left: 1rem;
}
.single-button {
  font-size: clamp(.8rem, 2vw, .9rem);
  margin: .2rem 0;
}




@media screen and (min-width: 992px) {
    .prj-details{
      position: relative;
        width: 100%;
    }
    .header{
      top:4rem;
      width: 18rem;
   
      border-radius: 0 0 15px 15px;
    }
    details[open] {
   
      width: 40%;
    }
    .project-title{
      
      font-size: 2rem;
    
    }
    .prj-view{
        transform: scale(0.9);
    
}
    .prj-view.The_Omniscent_Cat{
      height: 50rem; 
}
    .prj-view.Game_Prototype{
        height: 45rem;     
}
.prj-view.Calendar_Hub{ 
     
        height: 55rem; 
}
.prj-fallback-image{
 
  width: 90%;
  border-radius: 15px;
  
}
 .desc-container {

    background-color: var(--bg-alt);
    padding: 1rem 1.5rem;
    border-radius: 10px;
  }

.desc-title{
 
  margin-left: 1.8rem;
  font-size: clamp(.9rem, 2.2vw, 1.2rem);
}
.long-desc {
  font-size: clamp(.9rem, 2.2vw, 1rem);
  line-height: 1.6;
  padding: 0 2.5rem;
   
}

  .features {
  margin-top: 0;
  border-top: none;
  border-bottom: none;
  border-right: 2px dashed var(--comment);
  padding-right: 4rem;
 }
.features li:first-child{
  margin-bottom: 1rem;
}
  .single-prj-container {
    gap: 3rem;
  }

  .prj-view-cont {
    border-width: 3px;
  }
  .coloums{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

summary:hover {
  color: var(--keyword);
}
.fullbtn.game{
  display: none;
}
}