
body {
  margin: auto;
  max-width: 1200px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



ul {
  list-style-type: none;
}




button {
  border: none;
  cursor: pointer;
  width: 5rem;
}

h1 {
  margin-top: 0;
  font-size: 52px;
}

h2 {
  font-size: 50px;
}
h3 {
  margin:0;
}


@media screen and (max-width: 992px) {
 h1 {
    margin-top: 0;
    /* padding-bottom: 4rem; */
   font-size: 32px;
 }
 h2 {
  font-size: 30px;
  margin-bottom: 0;
 }
}